<!--
<div>
    <a [routerLink]="['creacio']" routerLinkActive="active">Creacio</a>
    <ul class="bubble">
        <li *ngFor="let task of tasks let i=index" (click)="onSelect(task)">
            <span>{{i+1}}.</span>
            <span>{{task.title}}</span>
            <span><a [routerLink]="['detall', task.id]" routerLinkActive="active">Ver</a></span>
        </li>
    </ul>
</div>
<ul>
    <li *ngFor="let circuit of storeCircutis">
        {{circuit.id}} - {{circuit.codi}} - {{circuit.codi}} - {{circuit.nom}} - {{circuit.descripcio}}
    </li>
</ul>
-->
<div class="border-start bgGrey">
	<div id="impacteContainer">
		<div class="fpca_subcapcalera bgGrey">	
			<div class="container">
				<div class="row">
					<div class="capcelera_basica col-sm-12">
						<div class="capcelera_basica_cont">		            		
							<ol class="breadcrumb filariana hidden-xs">
								<li><a [routerLink]="['/inici']" routerLinkActive="active" title="Torna: Inici">Inici</a></li>
								<li><a title="Torna: Administració" href="javascript:void(0)">Administració</a></li>
								<li>Llista de circuits</li>
							</ol>
							<h1 class="titulo-capcalera">
								<span>Llista de circuits</span>
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="gs-filter container" style="position:relative; margin: auto; margin-bottom: 20px">
	<form class="form-inline">   
		<div class="form-group">
			<label for="codi">Codi: </label>
			<input type="text" class="form-control" id="codi">
		</div>
		<div class="form-group">
			<label for="versio">Versió: </label>
			<input type="text" class="form-control" id="versio" value="1" style="width: 35px"/>
		</div>
		<div class="form-group">
			<label for="nom">Nom: </label>
			<input type="text" class="form-control" id="nom"/>
		</div>
		<div class="form-group">
			<label for="descripcio">Descripció: </label>
			<input type="text" class="form-control" id="descripcio"/>
		</div>
		<div class="form-group">
			<button type="submit" class="btn bgRed white">Buscar</button>
		</div>      
	</form>
</div>
<div class="container">
	<table class="table table-striped">
		<tr>
			<th>Codi</th>
			<th>Versió</th>
			<th>Nom</th>
			<th>Descripció</th>
		</tr>
		<tr *ngFor="let circuit of storeCircutis">
			<td><a [routerLink]="['/circuit/detall', circuit.codi]" routerLinkActive="active">{{circuit.codi}}</a></td>
			<td>{{circuit.versio}}</td>
			<td>{{circuit.nom}}</td>
			<td>{{circuit.descripcio}}</td>
	    </tr>
	</table>
</div>