<breadcrumb-custom></breadcrumb-custom>
<div class="card">
	<div class="card-body">
		<div class="row homebtnContainer">
			<div class="col-8 m-auto">
				<div class="col-sm">
					<h4>Datos cliente:
						<span class="clientName">{{data.codigoSap}}</span>
					</h4>
					<br/>
					<br/>
					<form>
						<div class="row mb-0">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">Código Sap</span>
									</div>
									<input type="text" class="form-control" placeholder="Codigo SAP" [(ngModel)]="data.codigoSap" [ngModelOptions]="{standalone: true}"
									 #ctrl="ngModel" required aria-label="SapCode" aria-describedby="basic-addon2">
								</div>
							</div>
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">Nombre fiscal</span>
									</div>
									<input type="text" [(ngModel)]="data.nombre" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" required class="form-control"
									 placeholder="Client fiscal name" value="" aria-label="name" aria-describedby="basic-addon2">
								</div>
							</div>
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">CIF</span>
									</div>
									<input type="text" [(ngModel)]="data.cif" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" class="form-control" placeholder="CIF"
									 aria-label="Nombre" aria-describedby="basic-addon2">
								</div>
							</div>
						</div>
						<div class="row mb-0">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon3">Direción</span>
									</div>
									<input type="text" [(ngModel)]="data.direccion" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" class="form-control"
									 placeholder="Calle Orotava s/n" id="address" aria-describedby="basic-addon3">
								</div>
							</div>
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon3">Email</span>
									</div>
									<input type="text" class="form-control" [(ngModel)]="data.email" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" placeholder="user@macmillaneducation.com"
									 id="email" aria-describedby="basic-addon3">
								</div>
							</div>
						</div>
						<div class="row mb-0">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">Teléfono</span>
									</div>
									<input type="text" class="form-control" [(ngModel)]="data.telefono" [ngModelOptions]="{standalone: true}" #ctrl="ngModel"
									 placeholder="956996699" aria-label="Nombre" aria-describedby="basic-addon2">
								</div>
							</div>
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">Via de pago</span>
									</div>
									<input type="text" [(ngModel)]="data.viaPago" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" class="form-control"
									 placeholder="Contado" value="" aria-label="Nombre" aria-describedby="basic-addon2">
								</div>
							</div>
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">Condición de pago</span>
									</div>
									<input type="text" class="form-control" [(ngModel)]="data.condicionPago" [ngModelOptions]="{standalone: true}" #ctrl="ngModel"
									 placeholder="1" aria-label="Nombre" aria-describedby="basic-addon2">
								</div>
							</div>
						</div>
						<div class="row mb-0">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">Dirección de entrega</span>
									</div>
									<input type="text" class="form-control" [(ngModel)]="data.direccionEntrega" [ngModelOptions]="{standalone: true}" #ctrl="ngModel"
									 placeholder="Calle Orotava s/n" aria-label="Nombre" aria-describedby="basic-addon2">
								</div>
							</div>
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">Persona de contacto</span>
									</div>
									<input type="text" class="form-control" [(ngModel)]="data.personaContacto" [ngModelOptions]="{standalone: true}" #ctrl="ngModel"
									 placeholder="Contacto 01" aria-label="Nombre" aria-describedby="basic-addon2">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-9"></div>
		<div class="col">
			<button type="button" class="btn btn-secondary m-2" data-dismiss="modal" [routerLink]="['/homeview']" routerLinkActive="active">Volver</button>
		</div>
	</div>
</div>