<breadcrumb-custom></breadcrumb-custom>
<div class="card">
	<div class="card-body">
		<div class="row homebtnContainer">
			<div class="col-8 m-auto">
				<div class="col-sm">
					<h4>Datos cliente:
						<span class="clientName">{{ConsoleDataService.firstclientToRepresent}}</span>
					</h4>
					<br/>
					<br/>
					<form>
						<div class="row mb-0">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">Código Sap</span>
									</div>
									<input type="text" class="form-control" [readonly]="true" [(ngModel)]="ConsoleDataService.client.detalleCliente.numCliente" [ngModelOptions]="{standalone: true}"
									 #ctrl="ngModel" required aria-label="SapCode" placeholder="#0000000" aria-describedby="basic-addon2">
								</div>
							</div>
							
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">CIF</span>
									</div>
									<input type="text" [(ngModel)]="ConsoleDataService.client.detalleCliente.nif" [readonly]="true" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" class="form-control" placeholder="00000000-X"
									 aria-label="Nombre" aria-describedby="basic-addon2">
								</div>
							</div>
							<div class="col"></div>
						</div>
						<div class="row mb-0">
								<div class="col">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon2">Nombre fiscal</span>
											</div>
											<input type="text" [(ngModel)]="ConsoleDataService.client.detalleCliente.nombre2" [readonly]="true" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" required class="form-control"
											 placeholder="Nombre" value="" aria-label="name" aria-describedby="basic-addon2">
										</div>
								</div>
						</div>
						<div class="row mb-0">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon3">Direción</span>
									</div>
									<input type="text" [(ngModel)]="ConsoleDataService.client.detalleCliente.calleYNumero" [readonly]="true" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" class="form-control"
									 placeholder="" id="address" aria-describedby="basic-addon3">
								</div>
							</div>
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon3">Email</span>
									</div>
									<input type="text" class="form-control" [(ngModel)]="ConsoleDataService.client.detalleCliente.email" [readonly]="true" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" placeholder=""
									 id="email" aria-describedby="basic-addon3">
								</div>
							</div>
						</div>
						<div class="row mb-0">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">Teléfono</span>
									</div>
									<input type="text" class="form-control" [(ngModel)]="ConsoleDataService.client.detalleCliente.telefono" [readonly]="true" [ngModelOptions]="{standalone: true}" #ctrl="ngModel"
									 placeholder="+34 656 458 233" aria-label="Nombre" aria-describedby="basic-addon2">
								</div>
							</div>
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">Via de pago</span>
									</div>
									<input type="text" [(ngModel)]="ConsoleDataService.client.detalleCliente.textoViasDePago" [readonly]="true" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" class="form-control"
									 placeholder="" value="" aria-label="Nombre" aria-describedby="basic-addon2">
								</div>
							</div>
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">Condición de pago</span>
									</div>
									<input type="text" class="form-control" [(ngModel)]="ConsoleDataService.client.detalleCliente.textoCondicionesDePago" [readonly]="true" [ngModelOptions]="{standalone: true}" #ctrl="ngModel"
									 placeholder="" aria-label="Nombre" aria-describedby="basic-addon2">
								</div>
							</div>
						</div>
						<div class="row mb-0">
								<div class="col">
									<div class="input-group mb-4">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon3">Tipo cliente</span>
										</div>
										<input type="text" [(ngModel)]="ConsoleDataService.client.detalleCliente.denominacionClasificacionCliente" [readonly]="true" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" class="form-control"
										 placeholder="" id="address" aria-describedby="basic-addon3">
									</div>
								</div>
								<div class="col">
									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon3">Cuenta bancaria</span>
										</div>
										<input type="text" class="form-control" [(ngModel)]="ConsoleDataService.client.detalleCliente.cuentaBancaria" [readonly]="true" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" placeholder="ESXXXXXXXXXXXXXX"
										 id="email" aria-describedby="basic-addon3">
									</div>
								</div>
							</div>
						<div class="row mb-0">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">Dirección de entrega</span>
									</div>
									<input type="text" class="form-control" [(ngModel)]="ConsoleDataService.client.detalleCliente.calleYNumero" [readonly]="true" [ngModelOptions]="{standalone: true}" #ctrl="ngModel"
									 placeholder="" aria-label="Nombre" aria-describedby="basic-addon2">
								</div>
							</div>
						</div>
						<div class="row mb-0">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">Persona de contacto</span>
									</div>
									<input type="text" class="form-control" [(ngModel)]="ConsoleDataService.client.detalleCliente.textoTipoFacturaImpresa" [readonly]="true" [ngModelOptions]="{standalone: true}" #ctrl="ngModel"
									 placeholder="Contacto 01" aria-label="Nombre" aria-describedby="basic-addon2">
								</div>
							</div>
							<div class="col"></div>
						</div>
						<div class="row mb-0">
								<div class="col">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon2">Tipo de factura</span>
										</div>
										<input type="text" class="form-control" [(ngModel)]="ConsoleDataService.client.detalleCliente.textoTipoFacturaImpresa" [readonly]="true" [ngModelOptions]="{standalone: true}" #ctrl="ngModel"
										 placeholder="Contacto 01" aria-label="Nombre" aria-describedby="basic-addon2">
									</div>
								</div>
								<div class="col"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-9"></div>
		<div class="col">
			<button type="button" class="btn btn-secondary m-2" data-dismiss="modal" [routerLink]="['/homeview']" routerLinkActive="active">Volver</button>
		</div>
	</div>
</div>