<breadcrumb-custom></breadcrumb-custom>
<div class="card">
	<div class="card-body">
		<div class="row homebtnContainer">
			<div class="col-8 m-auto">
				<div class="col-sm">
					<h4>Datos cliente:
						<span class="clientName">{{ConsoleDataService.client.detalleCliente.numCliente}}</span>
					</h4>
					<form>
						<div class="row mb-0">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">Código Sap</span>
									</div>
									<input type="text" class="form-control" [readonly]="true" [(ngModel)]="ConsoleDataService.client.detalleCliente.numCliente" [ngModelOptions]="{standalone: true}"
									 #ctrl="ngModel" required aria-label="SapCode" aria-describedby="basic-addon2">
								</div>
							</div>
							
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">CIF</span>
									</div>
									<input type="text" [(ngModel)]="ConsoleDataService.client.detalleCliente.nif" [readonly]="true" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" class="form-control" 
									 aria-label="Nombre" aria-describedby="basic-addon2">
								</div>
							</div>
							<div class="col"></div>
						</div>
						<div class="row mb-0">
								<div class="col">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon2">Nombre fiscal</span>
											</div>
											<input type="text" [(ngModel)]="ConsoleDataService.client.detalleCliente.nombre2" [readonly]="true" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" required class="form-control"
											 value="" aria-label="name" aria-describedby="basic-addon2">
										</div>
								</div>
						</div>
						<div class="row mb-0">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon3">Direción</span>
									</div>
									<input type="text" [(ngModel)]="ConsoleDataService.client.detalleCliente.calleYNumero" [readonly]="true" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" class="form-control"
									 placeholder="" id="address" aria-describedby="basic-addon3">
								</div>
							</div>
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon3">Email</span>
									</div>
									<input type="text" class="form-control" [(ngModel)]="ConsoleDataService.client.detalleCliente.email" [readonly]="true" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" placeholder=""
									 id="email" aria-describedby="basic-addon3">
								</div>
							</div>
						</div>
						<div class="row mb-0">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">Teléfono</span>
									</div>
									<input type="text" class="form-control" [(ngModel)]="ConsoleDataService.client.detalleCliente.telefono" [readonly]="true" [ngModelOptions]="{standalone: true}" #ctrl="ngModel"
									 aria-label="Nombre" aria-describedby="basic-addon2">
								</div>
							</div>
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">Via de pago</span>
									</div>
									<input type="text" [(ngModel)]="ConsoleDataService.client.detalleCliente.textoViasDePago" [readonly]="true" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" class="form-control"
									 placeholder="" value="" aria-label="Nombre" aria-describedby="basic-addon2">
								</div>
							</div>
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">Condición de pago</span>
									</div>
									<input type="text" class="form-control" [(ngModel)]="ConsoleDataService.client.detalleCliente.textoCondicionesDePago" [readonly]="true" [ngModelOptions]="{standalone: true}" #ctrl="ngModel"
									 placeholder="" aria-label="Nombre" aria-describedby="basic-addon2">
								</div>
							</div>
						</div>
						<div class="row mb-0">
								<div class="col">
									<div class="input-group mb-4">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon3">Tipo cliente</span>
										</div>
										<input type="text" [(ngModel)]="ConsoleDataService.client.detalleCliente.denominacionClasificacionCliente" [readonly]="true" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" class="form-control"
										 placeholder="" id="address2" aria-describedby="basic-addon3">
									</div>
								</div>
								<div class="col">
									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon3">Cuenta bancaria</span>
										</div>
										<input type="text" class="form-control" [(ngModel)]="ConsoleDataService.client.detalleCliente.cuentaBancaria" [readonly]="true" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" 
										 id="email2" aria-describedby="basic-addon3">
									</div>
								</div>
							</div>
						<div class="row mb-0">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">Funciones Interlocutor</span>
									</div>
									<select class='select-option custom-select'> 
											 <option class='option' *ngFor='let funcion of ConsoleDataService.FuncionesInterlocutor'>{{funcion}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row mb-0">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">Personas de contacto</span>
									</div>
									<select class='select-option custom-select'> 
											 <option class='option' *ngFor='let contact of ConsoleDataService.contacts'>{{contact.nombre}} {{contact.apellidos}}</option>
										 </select>
								</div>
							</div>
							<div class="col"></div>
						</div>
						<div class="row mb-0">
								<div class="col">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon2">Tipo de factura</span>
										</div>
										<!-- <input type="text" class="form-control" [(ngModel)]="ConsoleDataService.orderKind" [readonly]="true" [ngModelOptions]="{standalone: true}" #ctrl="ngModel"
										 aria-label="Nombre" aria-describedby="basic-addon2"> -->
										 <select class='select-option custom-select'> 
												<option class='option' *ngFor='let type of ConsoleDataService.orderKind'>{{type}}</option>
											</select>
									</div>
								</div>
								<div class="col"></div>
						</div>
						<div class="row mb-0">
							<label class="form-check-inline">
									<input class="form-check-input" type="radio" name="mode" [value]="true" [(ngModel)]="ConsoleDataService.sujetaARecargoEquival" readonly>Normal
							</label>
							<label class="form-check-inline">
								<input class="form-check-input" type="radio" name="mode" [value]="false" [(ngModel)]="ConsoleDataService.sujetaARecargoEquival" readonly>Recargo equivalencia
							</label>
						</div>	
						<div class="row mb-0">
							<label class="form-check-inline">
								Admite reserva:&nbsp;&nbsp;&nbsp;
									<input class="form-check-input" type="radio" name="reserva" [value]="true" [(ngModel)]="ConsoleDataService.AdmiteReserva" readonly>Si
							</label>
							<label class="form-check-inline">
									<input class="form-check-input" type="radio" name="reserva" [value]="false" [(ngModel)]="ConsoleDataService.AdmiteReserva" readonly>No
							</label>
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-9"></div>
		<div class="col">
			<button type="button" class="btn btn-secondary m-2" data-dismiss="modal" [routerLink]="['/homeview']" routerLinkActive="active">Volver</button>
		</div>
	</div>
</div>