<div class="card">
  <div class="card-body">
    <div class="row homebtnContainer">
      <div class="col-2 minwidthbtn">
        <button type="button" class="homebtn minwidthbtn btn btn-outline-secondary" routerLink="/clientdata"
          routerLinkActive="active">
          <img src="../assets/images/icons/homeIconClient_new.svg" width="120" />
          <span class="btnname">Clientes</span>
        </button>
      </div>
      <div class="col"></div>
      <div class="col-2 minwidthbtn">
        <button type="button" class="homebtn minwidthbtn btn btn-outline-secondary" routerLink="/ordersList" routerLinkActive="active">
          <img src="../assets/images/icons/homeIconOrdered_new.svg" width="120" />
          <span class="btnname">Pedidos</span>
        </button>
      </div>
      <div class="col"></div>
      <div class="col-2 minwidthbtn">
        <button type="button" class="homebtn minwidthbtn btn btn-outline-secondary" routerLink="/userslist" routerLinkActive="active">
          <img src="../assets/images/icons/homeIconUsers_new.svg" width="120" />
          <span class="btnname">Gestión de usuarios</span>
        </button>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>