<div class="card">
  <div class="card-body">
    <div class="row homebtnContainer">
      <div class="col-2 minwidthbtn">
        <button type="button" class="homebtn minwidthbtn btn btn-outline-secondary" routerLink="/clientdata"
          routerLinkActive="active">
          <img src="assets/images/icons/homeIconClient_new.svg" width="120" />
          <span class="btnname">Clientes</span>
        </button>
      </div>
      <div class="col"></div>
      <div class="col-2 minwidthbtn">
        <button type="button" class="homebtn minwidthbtn btn btn-outline-secondary" routerLink="/ordersList" routerLinkActive="active">
          <img src="assets/images/icons/homeIconOrdered_new.svg" width="120" />
          <span class="btnname">Pedidos</span>
        </button>
      </div>
      <div class="col"></div>
      <div class="col-2 minwidthbtn">
        <button type="button" class="homebtn minwidthbtn btn btn-outline-secondary" routerLink="/userslist" routerLinkActive="active">
          <img src="assets/images/icons/homeIconUsers_new.svg" width="120" />
          <span class="btnname">Gestión de usuarios</span>
        </button>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
<div *ngIf="ConsoleDataService.Admin; then primaryBlock;">this is ignored</div>
                  <ng-template #primaryBlock>
                      <div id="myClientModal" class="modal">
                          <!-- Modal content -->
                          <div class="modal-content admin">
                            <span class="close" id="equis" (click)="ConsoleDataService.closeModal('myClientModal')">&times;</span>
                            <h5>Selección del Cliente</h5>
                            <p>Introduzca el código Sap del cliente para operar</p>
                            <input type="text"  id="SAPCode" placeholder="Codigo SAP" name="name" #sapCode> 
                            
                            <div class="row">
                            <div class="col-12 btnList">
                              <button type="button" id="btnSuccess" class="btn btn-danger mr-1" (click)="searchClientbyCode(sapCode.value)" routerLinkActive="active">Buscar Cliente</button>
                      
                            </div>
                          </div>
                          
                          </div>
                       </div>   
                  </ng-template>