
<div class="border-start bgGrey">
	<div id="impacteContainer">
		<div class="fpca_subcapcalera bgGrey">	
			<div class="container">
				<div class="row">
					<div class="capcelera_basica col-sm-12">
						<div class="capcelera_basica_cont">		            		
							<ol class="breadcrumb filariana hidden-xs">
								<li><a [routerLink]="['/inici']" routerLinkActive="active" title="Torna: Inici">Inici</a></li>
								<li><a [routerLink]="['/estat']" routerLinkActive="active" title="Torna: Estat general">Estat general</a></li>
								<li><a [routerLink]="['/estatpeticio']" routerLinkActive="active" title="Torna: Resum de peticions">Resum de peticions</a></li>
								<li>Llista de peticions</li>
							</ol>
							<h1 class="titulo-capcalera">
								<span>Llista de peticions</span>
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="gs-filter container" style="position:relative; margin: auto">
    <form class="form-inline">
		<div class="form-group">
			<label for="organ">Organ: </label>
			<select class="form-control" id="organ" style="max-width: 180px">
				<option>Junta Finances</option>
				<option>Agencia Tributaria de Catalunya</option>
			</select>
		</div>
		<div class="form-group">
			<label for="bo">Back Office: </label>
			<select class="form-control" id="bo" style="max-width: 180px">
				<option>REACAT</option>
				<option>SPRIU</option>
			</select>
		</div>     
		<div class="form-group">
			<label for="codi">Codi: </label>
			<input type="text" class="form-control" id="codi" style="width: 180px"/>
		</div>
		<div class="form-group">
			<label for="estat">Estat: </label>
			<select class="form-control" id="estat" style="max-width: 180px">
				<option>Pendent</option>
				<option>En curs</option>
				<option>Finalitzada</option>
				<option>Fallida</option>
			</select>
		</div>
		<div class="form-group">
			<button type="submit" class="btn bgRed white">Buscar</button>
		</div>      
	</form>
</div>
<div class="container">
	<table class="table table-striped">
		<tr>
			<th>Peticio</th>
			<th>Organ</th>
			<th>Back Office</th>
			<th>Estat</th>
		</tr>
		<tr *ngFor="let peticio of storePeticions">
			<td>{{peticio.codi}}</td>
			<td><a [routerLink]="['/organisme/detall', peticio.organisme]" routerLinkActive="active">{{peticio.organisme}}</a></td>
			<td><a [routerLink]="['/backoffice/detall', peticio.backoffice]" routerLinkActive="active">{{peticio.backoffice}}</a>
            <td>{{peticio.estat}}</td>
        </tr>
	</table>
</div>