<!--
<p>
    ESTAMOS EDITANDO USUARIOS !!!
</p>
-->
<div class="border-start bgGrey">
	<div id="impacteContainer">
		<div class="fpca_subcapcalera bgGrey">	
			<div class="container">
				<div class="row">
					<div class="capcelera_basica col-sm-12">
						<div class="capcelera_basica_cont">		            		
							<ol class="breadcrumb filariana hidden-xs">
								<li><a title="Torna: Inici" href="inici.html">Inici</a></li>
								<li><a title="Torna: Administració" href="javascript:void(0)">Administració</a></li>
								<li><a title="Torna: Llista de usuaris" href="llista-usuaris.html">Llista de usuaris</a></li>
								<li>Detall de usuari</li>
							</ol>
							<h1 class="titulo-capcalera">
								<span>Detall de usuari</span>
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container" style="margin-top: 30px">
	<form>
		<fieldset>
			<legend>Dades Generals</legend>
			<div class="container-fluid" >
				<div class="row">
					<div class="form-group col-sm-7">
						<label for="nom">Nom</label><br/>
						<input type="text" id="codi" value="fgarcia" class="form-control"/>
					</div>
					<div class="form-group col-sm-5">
						<label for="roles">Rol</label><br/>
						<select class="form-control" >
							<option selected>Bàsic</option>
							<option>Administrador</option>
							<option selected>Administrador de back office</option>
						</select>
					</div>    
				</div>
			</div>
		</fieldset>
           <fieldset style="margin-top: 30px">
			<legend>Organs associats</legend>
			<div class="container">
				<table class="table table-striped">
					<tr>
						<th>Codi</th>
						<th>Nom</th>
						<th>Descripció</th>
					</tr>
					<tr>
						<td><a href="detall-organ.html">JUNTAFINANCES</a></td>
						<td>Junta de finances</td><td>Junta de finances</td>
					</tr>
					<tr>
						<td><a href="detall-organ.html">JUNTAFINANCES</a></td>
						<td>Junta de finances</td><td>Junta de finances</td>
					</tr>
				</table>
			</div>
		</fieldset>
           <fieldset style="margin-top: 30px">
			<legend>Back offices associats</legend>
			<div class="container">
				<table class="table table-striped">
					<tr>
						<th>Codi</th>
						<th>Nom</th>
						<th>Descripció</th>
					</tr>
					<tr>
						<td><a href="detall-backoffice.html">REACAT</a></td>
						<td>Reacat</td><td>Reacat</td>
					</tr>
					<tr>
						<td><a href="detall-backoffice.html">REACAT</a></td>
						<td>Reacat</td><td>Reacat</td>
					</tr>
					<tr>
						<td><a href="detall-backoffice.html">REACAT</a></td>
						<td>Reacat</td><td>Reacat</td>
					</tr>
				</table>
			</div>
		</fieldset>
	</form>
</div>