<breadcrumb-custom></breadcrumb-custom>
<div class="card">
	<div class="card-body">
		<div class="row homebtnContainer">
			<div class="col-8 m-auto">
				<div class="col-sm">
					<common-user-table (userToEdit)="selectUserToEdit($event)" (btnActive)="activeBtn($event)"></common-user-table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-10 btnList">
				<button type="button" class="btn btn-danger delete m-2" (click)="deleteUser(userToEdit)"  [disabled]="!active">
					<img src="assets/images/icons/baseline-delete_forever-24px.svg" width="60" height="25" alt="submit" />
				</button>
				<button type="button" class="btn btn-danger m-2"(userInEdit)="selectedUserInEdit($event)"  [disabled]="!active" (click)=goTouserEdit(userToEdit)>Editar</button>
				<button type="button" class="btn btn-danger m-2" [routerLink]="['/createUser']" routerLinkActive="active">Crear nuevo</button>
				<button type="button" class="btn btn-danger m-2" [routerLink]="['/MasiveCreate']" routerLinkActive="active">Subida masiva de usuarios</button>
			</div>
		</div>
	</div>
</div>
<div id="myModal" class="modal">

		<!-- Modal content -->
		<div class="modal-content">
		  <span class="close" (click)="ConsoleDataService.closeModal('myModal')">&times;</span>
		  <h5>{{ConsoleDataService.alertTitle}}</h5>
		  <p>{{ConsoleDataService.alertText}} <b> {{ConsoleDataService.alertEmail}}</b></p>
		  
		  <div class="row">
			<div class="col-12 btnList">
				<button type="button" id="btncancel" class="btn btn-secondary mr-1"(click)="ConsoleDataService.closeModal('myModal')" routerLinkActive="active">Cancelar</button>
				<button type="button" id="btnSuccess" class="btn btn-danger mr-1" (click)="delUser()" routerLinkActive="active">Eliminar usuario</button>
			</div>
		</div>
	  
	  </div>