<breadcrumb-custom></breadcrumb-custom>
<div class="card">
        <div class="card-body">
            <div class="row homebtnContainer">
                <div class="col-8 m-auto">
                    <div class="col-sm">
                            <!-- tableData="pendingOrder" -->
                        <common-listorder-table tableData="pendingOrder" (orderToEdit)="selectOrderToEdit($event)" (activeBtnOrder)="activeBtn($event)" ></common-listorder-table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8"></div>
                <div class="col">
                        <button type="button" class="btn btn-danger delete m-2" (click)="deleteOrder(orderToEdit)" ><!-- [disabled]="!active" -->
                                <img src="../../../../assets/images/icons/baseline-delete_forever-24px.svg" width="60" height="25" alt="submit" />
                            </button>
                    <button type="button" class="btn btn-danger m-2" (click)="navigateToDetail()" routerLinkActive="active">Ver detalle</button>
                </div>
            </div>
        </div>
    </div>
