<breadcrumb-custom></breadcrumb-custom>
<div class="card">Delivery_notes
        <div class="card-body">
            <div class="row homebtnContainer">
                <div class="col-8 m-auto">
                    <div class="col-sm">
                        <common-listorder-table tableData="listOrder" (btnActive)="activeBtn($event)" (orderToEdit)="editOrder($event)"></common-listorder-table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8"></div>
                <div class="col">
                    <button type="button" ng-disabled="true" class="btn btn-danger m-2" [routerLink]="['/newOrder']" routerLinkActive="active">Nuevo</button>
                    <button type="button" [disabled]="!active" class="btn btn-danger m-2" (click)="navigateToDetail()" routerLinkActive="active">Ver detalle</button>
                    <button type="button" [disabled]="!active" class="btn btn-danger m-2" [routerLink]="['/newOrder']" routerLinkActive="active">Albarán</button>
                </div>
            </div>
        </div>
    </div>
