<!-- <nav>
  <form class="form-inline">
    <input id="myInput" class="form-control mr-sm-2" type="search" data-ng-styles="input" (keyup)="filterTable($event)" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" data-ng-styles="buscar" type="submit">Buscar</button>
  </form>
</nav>
<fieldset class="form-group row">
  <div class="col-sm-12">
    <div class="form-check">
      <label class="form-check-label radiobtn">
        <input class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios1" value="option1"> Buscar por código</label>
      <label class="form-check-label radiobtn">
        <input class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios2" value="option2"  checked> Buscar por nombre</label>
      <table class="table clientModalTable"  id="myTable">
        <tr>
          <th *ngFor="let col of customColumns">
            {{col}}
          </th>
        </tr>
        <tr data-col="01" data-clientname="" data-dismiss="modal" (click)="ChangeClient(dato)" *ngFor="let dato of data">
          <td *ngFor="let col of columns">
            {{dato[col]}}
          </td>
        </tr>
      </table>
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <nav aria-label="Page navigation clientPageNav">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link" href="#">Previous</a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</fieldset> -->
<p-dataTable [value]="data"  (actualClient)="updateActualUser($event)" [paginator]="true" [rows]="5"  [rowStyleClass]="isRowSelected" [pageLinks]="5" #dt>
    <p-column field="isSelected codigoSap" header="" [style]="{'width':'32px','cursor': 'pointer'}">
      <ng-template pTemplate="body" let-rowData="rowData">
        <img src="../../../../../assets/images/icons/baseline-check_circle-24px.svg" (click)="ChangeClient(rowData)" data-dismiss="modal"  (mouseover)=" rowData.isSelected=!rowData.isSelected" (mouseout)=" rowData.isSelected=!rowData.isSelected"/>
        <!-- rowData.isSelected=!rowData.isSelected -->
      </ng-template>
    </p-column> 
    <p-column  field="numCliente" header="Código SAP"></p-column>
    <p-column  field="email" header="Email"></p-column>
  </p-dataTable>