<!-- <table id="OrderTable" class="table clientModalTable" *ngIf="!newOrder">
    <tr>
      <th *ngFor="let col of customColumns" class="{{col}}">
        {{col}}
      </th>
    </tr>
    <tr data-clientname="" id="{{i}}" data-dismiss="modal" *ngFor="let dato of data; let i = index" (click)="selectRow(i, dato)" [class.active]="i == selectedRow">
      <td *ngFor="let col of columns">
          {{dato[col]}}
      </td>
    </tr>
  </table> -->
  <div *ngIf="!pending; then primaryBlock; else secondaryBlock">this is ignored</div>
  <ng-template #primaryBlock>
      <div class="pl-0">
          <form #myForm="ngForm" class="dateCalendar row" novalidate>
              <!-- <my-date-picker [formControl]="fecEnt" name="mydate" [options]="myDatePickerOptions" [(ngModel)]="data.fecha" required [ngModelOptions]="{standalone: true}" #ctrl="ngModel"></my-date-picker> -->
              <div class="input-group-prepend">
                  <span class="input-group-text orderlistSpan" id="basic-addon2">Buscar pedidos desde:</span>
              </div>
              <my-date-picker [formControl]="fecEnt" class="col-3"></my-date-picker>
              <div class="input-group-prepend">
                  <span class="input-group-text orderlistSpan" id="basic-addon2">hasta:</span>
              </div>
              <my-date-picker [formControl]="fecSal" class="col-3"></my-date-picker>
              <div class="col-2">
                    <button type="button" class="btn btn-secondary m-2 orderlistBtn" (click)="lookForOrders(fecEnt, fecSal)">Buscar</button>
                  </div>
          </form>
      </div>  
      
      <p-dataTable [value]="data"  (actualClient)="updateActualUser($event)" [paginator]="true" [rows]="10"  [rowStyleClass]="isRowSelected"  #dt>
          <p-column field="isSelected" header="" [style]="{'width':'32px','cursor': 'pointer'}">
              <ng-template pTemplate="body" let-rowData="rowData">
                <img src="assets/images/icons/baseline-check_circle-24px.svg" (click)="ChangeClient(rowData)"/>
                <!-- (mouseover)="rowData.isSelected=!rowData.isSelected" (mouseout)=" rowData.isSelected=!rowData.isSelected" -->
                <!-- rowData.isSelected=!rowData.isSelected -->
              </ng-template>
            </p-column> 
        <p-column class="referencia" field="numDocumentoComercial" header="Referencia"></p-column>
        <p-column class="status" field="statusDocumento" header="Estado"></p-column>
        <p-column class="fecha" field="fechaDocumento" header="Fecha"></p-column>
        </p-dataTable>
        <p *ngIf="visibleTarget">Busqueda sin resultados</p>
  </ng-template>
  <ng-template #secondaryBlock>
      <!-- <div class="pl-0">
          <form #myForm="ngForm" class="dateCalendar" novalidate> -->
              <!-- <my-date-picker [formControl]="fecEnt" name="mydate" [options]="myDatePickerOptions" [(ngModel)]="data.fecha" required [ngModelOptions]="{standalone: true}" #ctrl="ngModel"></my-date-picker> -->
              <!-- <my-date-picker [formControl]="fecEnt" ></my-date-picker>
              <my-date-picker [formControl]="fecSal" ></my-date-picker>
          </form>
      </div>   -->
      <p-dataTable [value]="data" (actualClient)="updateActualUser($event)" [paginator]="true" [rows]="10"  [rowStyleClass]="isRowSelected"  #dt>
          <p-column field="isSelected" header="" [style]="{'width':'32px','cursor': 'pointer'}">
              <ng-template pTemplate="body" let-rowData="rowData">
                <img src="assets/images/icons/baseline-check_circle-24px.svg" (click)="ChangeClient(rowData)"/>
                <!-- (mouseover)="rowData.isSelected=!rowData.isSelected" (mouseout)=" rowData.isSelected=!rowData.isSelected" -->
                <!-- rowData.isSelected=!rowData.isSelected -->
              </ng-template>
            </p-column> 
        <p-column class="codigoSap" field="codigoSap" header="Código SAP"></p-column>
        <p-column class="fecha" field="fecha" header="Fecha"></p-column>
        <p-column class="estado" field="estado" header="Estado"></p-column>
        </p-dataTable>
  </ng-template>