  <div *ngIf="pending; then primaryBlock; else secondaryBlock">this is ignored</div>
  <ng-template #primaryBlock>
      <p-dataTable [value]="data" #dt>
          <p-column  field="numMaterial" header="EAN"></p-column>
          <p-column  field="numDocumentoComercial" header="Descripción"></p-column>
          <p-column  field="fechaDocumento" header="Fecha"></p-column>
          <p-column  field="cantidadPedido" header="Unidades"></p-column>
      
        </p-dataTable>
  </ng-template>
  <ng-template #secondaryBlock>
      <p-dataTable [value]="data" #dt>
          <p-column  field="numMaterial" header="EAN"></p-column>
          <p-column  field="numDocumentoComercial" header="Descripción"></p-column>
          <p-column  field="fechaDocumento" header="Fecha"></p-column>
          <p-column  field="cantidadPedido" header="Unidades"></p-column>
      
        </p-dataTable>
  </ng-template>