<div class="login">
  </div>
  <div class="row wellcomeText">
      <div class="col p-4"></div>
      <div class="col-2  portal p-0">BIENVENIDO AL PORTAL DE CLIENTE</div>
      <div class="col p-0"></div>
  </div>
  <div class="row loginbox m-0">
          <div class="col p-0"></div>
          <div class="col-2 p-0 loginform">
              <div class="anagram"><span><img src="assets/images/logos/Macmillan_50px.png"></span></div> 
              <!-- <input #name (keyup)="onKey(name.value)">
                <p>{{name.value}}</p> -->
              <form>
                  <input type="text" placeholder="Username" name="name" #username> 
                  <input  type="password" name="pass" placeholder="password"#pass>
                  <button type="button" class="btn btn-danger" (click)="OnLogin(username.value,pass.value)">Login</button>      
                  
              </form>
          </div>
          <div class="col p-0"></div>
      </div>
  