<!-- <nav>
    <form class="form-inline">
      <input id="myInput" class="form-control mr-sm-2" type="search" data-ng-styles="input" (keyup)="filterTable($event)" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" data-ng-styles="buscar" type="submit">Buscar</button>
    </form>
  </nav>
  <fieldset class="form-group row">
      <div class="col-sm-12">
        <div class="form-check">
          <label class="form-check-label radiobtn">
            <input class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios1" value="option1"> Buscar por EAN</label>
          <label class="form-check-label radiobtn">
            <input class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios2" value="option2"  checked> Buscar por descripción</label>
<table id="materialsTable" class="table materialsModalTable">
    <tr>
      <th *ngFor="let col of customColumns">
        {{col}}
      </th>
    </tr>
    <tr data-clientname="" data-dismiss="modal" *ngFor="let dato of data; let i = index" [class.active]="i == selectedRow" (click)="selectMaterial(dato)">
        
      <td *ngFor="let col of columns">
          {{dato[col]}}
      </td>
    </tr>
  </table>
</div>
</div>
</fieldset> -->
<p-dataTable [value]="data"  (actualClient)="updateActualUser($event)" [paginator]="true" [rows]="2"  [rowStyleClass]="isRowSelected" [pageLinks]="2" #dt>
    <p-column field="isSelected" header="" [style]="{'width':'32px','cursor': 'pointer'}">
        <ng-template pTemplate="body" let-rowData="rowData">
          <img src="assets/images/icons/baseline-check_circle-24px.svg" (click)="ChangeClient(rowData)" data-dismiss="modal"  (mouseover)=" rowData.isSelected=!rowData.isSelected" (mouseout)=" rowData.isSelected=!rowData.isSelected"/>
          <!-- rowData.isSelected=!rowData.isSelected -->
        </ng-template>
      </p-column> 
  <p-column  field="ean" header="EAN"></p-column>
  <p-column  field="descCorta" header="Descripción"></p-column>
  </p-dataTable>