<breadcrumb-custom></breadcrumb-custom>
<div class="view-container">
    <div class="card-container">
        <div class="accordion col-8" id="accordionHead">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Cabecera del pedido
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionHead">
                    <div class="card-body">
                        <form>
                            <div class="row mb-0">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2">Código Sap</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Codigo SAP" [(ngModel)]="data.numCliente" [ngModelOptions]="{standalone: true}"
                                            #ctrl="ngModel" aria-describedby="basic-addon2">
                                    </div>
                                </div>
                                <div class="col">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon2">NIF</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="NIF" [(ngModel)]="data.nif" [ngModelOptions]="{standalone: true}" #ctrl="ngModel"
                                                aria-describedby="basic-addon2">
                                        </div>
                                    </div>
                            </div>
                            <div class="row mb-0">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2">Nombre fiscal</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Client fiscal name" [(ngModel)]="data.nombre2" [ngModelOptions]="{standalone: true}"
                                            #ctrl="ngModel" aria-describedby="basic-addon2">
                                    </div>
                                </div>
                                </div>
                               
                            <div class="row mb-0">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2">Dirección de entrega</span>
                                        </div>
                                        <input type="text" class="form-control"  [(ngModel)]="data.calleYNumero + ' '+ data.poblacion" [ngModelOptions]="{standalone: true}"
                                            #ctrl="ngModel" aria-label="Nombre" aria-describedby="basic-addon2">
                                    </div>
                                </div>
                            </div>
                            <div class="row ml-2">
                                <div class="col">
                                    <label class="form-check-label radiobtn">
                                        <input class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios1" value="option1">Fecha inmediata</label>
                                </div>
                                <div class="col">
                                </div>
                            </div>
                            <div class="row ml-2">
                                <div class="col">

                                    <input class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios2" checked>
                                    <label class="form-check-label radiobtn">Fecha preferente de entrega</label>
                                    <input type="text" name="fecha" class="form-control min-input" placeholder="Date" [(ngModel)]="data.fecha" [ngModelOptions]="{standalone: true}"
                                        #ctrl="ngModel">

                                    <!-- <dl-date-time-picker></dl-date-time-picker> -->
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion col-8" id="accordionLines">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                            Lineas de pedido
                        </button>
                    </h5>
                </div>

                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionLines">
                    <div class="card-body">
                        <common-detailOrder-table></common-detailOrder-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 m-auto">
                <button type="button" class="btn btn-secondary m-2 float-right" [routerLink]="['/ordersList']" routerLinkActive="active">Volver</button>
            </div>    
        </div>    
    </div>
</div>