<breadcrumb-custom></breadcrumb-custom>
<div class="view-container">
    <div class="card-container">
        <div class="accordion col-8" id="accordionHead">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Cabecera del pedido: {{ConsoleDataService.orderDetail.numDocumentoComercial}}
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionHead">
                    <div class="card-body">
                        <form>
                            <div class="row mb-0">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2">Código Sap</span>
                                        </div>
                                        <input type="text" [readonly]="true" class="form-control" placeholder="Codigo SAP" [(ngModel)]="head.codigoSap" [ngModelOptions]="{standalone: true}"
                                            #ctrl="ngModel" aria-describedby="basic-addon2">
                                    </div>
                                </div>
                                <div class="col">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon2">NIF</span>
                                            </div>
                                            <input type="text" class="form-control" [readonly]="true" placeholder="NIF" [(ngModel)]="head.cif" [ngModelOptions]="{standalone: true}" #ctrl="ngModel"
                                                aria-describedby="basic-addon2">
                                        </div>
                                    </div>
                            </div>
                            <div class="row mb-0">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2">Nombre fiscal</span>
                                        </div>
                                        <input type="text" class="form-control" [readonly]="true" placeholder="Client fiscal name" [(ngModel)]="head.nombre2" [ngModelOptions]="{standalone: true}"
                                            #ctrl="ngModel" aria-describedby="basic-addon2">
                                    </div>
                                </div>
                                </div>
                               
                            <div class="row mb-0">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2">Dirección de entrega</span>
                                        </div>
                                        <input type="text" class="form-control" [readonly]="true" [(ngModel)]="head.direccionEntrega" [ngModelOptions]="{standalone: true}"
                                            #ctrl="ngModel" aria-label="Nombre" aria-describedby="basic-addon2">
                                    </div>
                                </div>
                            </div>
                            <div class="row ml-2">
                                <div class="col">
                                    <label class="form-check-label radiobtn">
                                        <input class="form-check-input radio-inline" [readonly]="true" type="radio" name="gridRadios" id="gridRadios1" value="option1">Fecha inmediata</label>
                                </div>
                                <div class="col">
                                </div>
                            </div>
                            <div class="row ml-2">
                                <div class="col">

                                    <input class="form-check-input radio-inline" [readonly]="true" type="radio" name="gridRadios" id="gridRadios2" checked>
                                    <label class="form-check-label radiobtn">Fecha preferente de entrega</label>
                                    <input type="text" name="fecha" class="form-control min-input" placeholder="Date" [(ngModel)]="ConsoleDataService.orderDetail.fechaDocumento" [ngModelOptions]="{standalone: true}"
                                        #ctrl="ngModel">

                                    <!-- <dl-date-time-picker></dl-date-time-picker> -->
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion col-8" id="accordionLines">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                            Lineas de pedido
                        </button>
                    </h5>
                </div>

                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionLines">
                    <div class="card-body">
      <p-dataTable [value]="ConsoleDataService.orderDetail['items']" [paginator]="true" [rows]="10"  #dtt>
          <p-column  field="ean" header="EAN"></p-column>
          <p-column  field="descripcionCorta" header="Descripción"></p-column>
          <p-column  field="statusPosicionDocumento" header="Status"></p-column>
          <p-column  field="cantidad" header="Unidades"></p-column>
        </p-dataTable>
  <!-- </ng-template>
  <ng-template #secondaryBlock>
      <p-dataTable [value]="orderToedit" #dt>
          <p-column  field="numMaterial" header="EAN"></p-column>
          <p-column  field="numDocumentoComercial" header="Descripción"></p-column>
          <p-column  field="fechaDocumento" header="Fecha"></p-column>
          <p-column  field="cantidadPedido" header="Unidades"></p-column>
      
        </p-dataTable>
  </ng-template> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 m-auto">
                <button type="button" class="btn btn-secondary m-2 float-right" [routerLink]="['/ordersList']" routerLinkActive="active">Volver</button>
            </div>    
        </div>    
    </div>
</div>