<footer class="footer" >
  <div class="container">
      <div class="row text-gray">
          <div class="col-3 h6 p-0 socialMedia">
          <a href="https://www.facebook.com" target="_blank">
            <div class="col mediaIcon facebook"></div>
          </a>
          <a href="http://www.twitter.com" target="_blank">
            <div class="col mediaIcon twitter"></div>
          </a>
          <a href="https://www.linkedin.com" target="_blank">
            <div class="col mediaIcon linkedin"></div>
          </a>
          <a href="http://www.youtube.com" target="_blank">
            <div class="col mediaIcon youtube"></div>
          </a>
          </div>
          <div class="legalInfo col-7 h6">
            <div class="row">
              <div class="col-4">
                Información para proveedores
              </div>
              <div class="col-4">
                política de privacidad
              </div>
              <div class="col-4">
                Contactanos
              </div>
            </div>
          </div>
          <div class="copyright col-2 h6 p-0">
              <small>@2018 Macmillan Iberia S.A.U.</small>
          </div>
      </div>
  </div>
</footer>
