
<!--
<p>
    ESTAMOS VIENDO BACKOFFICE!!!
</p>
<div>
	Showing product details for product: {{id}}
</div>
{{backoffice.codi}}
{{backoffice.nom}}
{{backoffice.descripcio}}
-->
<div class="border-start bgGrey">
	<div id="impacteContainer">
		<div class="fpca_subcapcalera bgGrey">	
			<div class="container">
				<div class="row">
					<div class="capcelera_basica col-sm-12">
						<div class="capcelera_basica_cont">		            		
							<ol class="breadcrumb filariana hidden-xs">
								<li><a [routerLink]="['/inici']" routerLinkActive="active" title="Torna: Inici">Inici</a></li>
								<li><a title="Torna: Administració" href="javascript:void(0)">Administració</a></li>
								<li><a [routerLink]="['/backoffice']" routerLinkActive="active" title="Torna: Llista de back offices">Llista de back offices</a></li>
								<li>Detall de back office</li>
							</ol>
							<h1 class="titulo-capcalera">
								<span>Detall de back office</span>
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container" style="margin-top: 30px">
	<form [formGroup]="backofficeForm">
		<fieldset>
			<legend>Dades Generals</legend>
			<div class="container-fluid" >
				<div class="row">
					<div class="form-group col-sm-4">
						<label for="codi">Codi</label><br/>
						<input type="text" id="codi" formControlName="codi" class="form-control" />
					</div>
					<div class="form-group col-sm-8">
						<label for="nom">Nom</label><br/>
						<input type="text" id="nom" formControlName="nom" class="form-control" />
					</div>    
				</div>
				<div class="row">
					<div class="form-group col-sm-12">
					<label for="descripcio">Descripció</label><br/>
						<textarea id="descripcio" formControlName="descripcio" class="form-control" rows="5" ></textarea>
					</div>            
				</div>
			</div>
		</fieldset>
        <fieldset style="margin-top: 30px">
			<legend>Usuaris associats</legend>
			<div class="container">
				<table class="table table-striped">
					<tr>
						<th>Nom</th>
						<th>Rol</th>
						<th>Organs</th>
						<th>Back offices</th>
					</tr>
					<tr>
						<td><a href="detall-usuari.html">fgarcia</a></td>
						<td><a href="detall-rol.html">ADMIN</a></td>
						<td><a href="detall-organ.html">JUNTAFINANCES</a></td>
						<td>
							<a href="detall-backoffice.html">REACAT</a>, 
							<a href="detall-backoffice.html">ESPRIU</a></td>
						</tr>
                   </table>
			</div>
		</fieldset>
	</form>
</div>
