@media (max-width: 1200px) {
    div.gs-flujo > div > .extra  p {
       display: none;  
    }
 }
  
 div.gs-flujo > div > .extra  ul {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
 }
 
 div.gs-flujo > div > .extra  ul > li {
    margin-bottom: 5px;
    font-size: 13px;
 }
 
 div.gs-flujo > div > .extra  ul  span {
    display: inline-block;
    /* border: 2px solid #430000; */
    background-color: #900000;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    border-radius: 15px;
 }	