<breadcrumb-custom></breadcrumb-custom>
<div class="card">
	<div class="card-body">
		<div class="row homebtnContainer">
			<div class="row">
				<div class="col-sm">
					<form>
						<div class="row mb-0">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">Nombre</span>
									</div>
									<input class="form-control" [(ngModel)]="data.nombre" [formControl]="name" > 
								</div>
							</div>
						</div>
						<div class="row mb-0">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon3">Email</span>
									</div>
									<input class="form-control" [(ngModel)]="data.email" [formControl]="mail"> 
								</div>
							</div>
						</div>
						<div class="row mb-0">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<label class="input-group-text" for="inputGroupSelect01">Tipos de Cliente</label>
									</div>
									<select class='select-option custom-select' (change)="onChange($event.target.value)" required [formControl]="tipo"> 
											<!-- (ngModelChange)='onOptionsSelected($event)' -->
											<option class='option' *ngFor='let option of ClientOptions' [selected]="option === data.tipoCliente">{{option}}</option>
										</select>
								</div>
							</div>
							<div class="col">
								<div class="input-group mb-3" [hidden]="!isZoneBoss">
									<div class="input-group-prepend">
										<span class="input-group-text">Zona</span>
									</div>
									<input class="form-control" [(ngModel)]="data.zona" [formControl]="zona"> 
								</div>
							</div>
						</div>
						<span class="ListContainer" [hidden]="!isAgent">
						<div class="row mb-0">
							<div class="col inputMaxWidth">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<label class="input-group-text" for="inputGroupSelect01">Representados</label>
									</div>

									<input class="repCode col-7" type="text" placeholder="Inserte código SAP del representado" [value]="repCode" [(ngModel)]="repCode" [ngModelOptions]="{standalone: true}">
									<div class="input-group-append">
										<button class="btn btn-outline-secondary" type="button" (click)="InsertAgent(data, repCode)">Insertar</button>
									</div>
								</div>
							</div>
						</div>
						<div [hidden]="empty" class="row mb-0 listContainer">
							<h6 class="ml-3">Lista de Representados</h6>
						</div>
						<div class="row mb-0">
							<div class="col card listContainer">
								<ul class="list-group list-group-flush">
										
												<li *ngFor="let representado of data.representados">
														<span class="{{representado}}">
															<input #delete type="checkbox" class="form-check-input" id="{{representado}}" (click)="isShown(data, representado)">
														</span>
														{{ representado }}
														<button   type="button" class="btn btn-danger delete m-0 p-0 {{representado}} hidden" (click)="deleteFromList(representado)">
																<!-- (click)="deleteUser(userToEdit)"  [disabled]="!active" -->
																<img src="assets/images/icons/baseline-clear-24px.svg" width="20" height="20" alt="delete line" />
															</button>
												</li>
												 
								</ul>
							</div>
							<div class="col-8">
									
							</div>
						</div>
					</span>
					</form>
				</div>
				
			</div>
		</div>
	</div>
</div>
<div class="row">
		<div class="col-6"></div>
	<div class="col"><button type="button" class="btn btn-secondary" [routerLink]="['/userslist']" routerLinkActive="active">Volver</button>
	<button type="button" class="btn btn-danger" routerLinkActive="active" (click)="submitUser(formValues)">Guardar</button>
	<button type="button" class="btn btn-secondary">Enviar Credenciales</button></div>
</div>
