<breadcrumb-custom></breadcrumb-custom>
<div class="card">
	<div class="card-body">
		<div class="row homebtnContainer">
			<div class="row">
				<div class="col-sm">
					<form>
						<div class="row mb-0">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">Nombre</span>
									</div>
									<input class="form-control" [(ngModel)]="data.nombre" [formControl]="name"> 
								</div>
							</div>
							<div class="col-4">
								<div class="input-group mb-3">
								</div>
							</div>
						</div>
						<div class="row mb-0">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon3">Email</span>
									</div>
									<input class="form-control" [(ngModel)]="data.email" [formControl]="mail"> 
								</div>
							</div>
							<div class="col-6"></div>
						</div>
						<div class="row mb-0">
							<div class="col-4">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<label class="input-group-text" for="inputGroupSelect01">Tipos de Cliente</label>
									</div>
									<!-- <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="data.tipoCliente" [ngModelOptions]="{standalone: true}" #ctrl="ngModel">
										<option selected="">Choose...</option>
										<option value="1">Cliente</option>
										<option value="2">Representante</option>
										<option value="3">Administrador</option>
										<option value="4">Atención Cliente</option>
										<option value="5">Jefe de Marketing</option>
										<option value="6">Jefe de Zona</option>

									</select> -->
									
									<select class='select-option custom-select' (change)="onChange($event.target.value)" required [formControl]="tipo"> 
											<!-- (ngModelChange)='onOptionsSelected($event)' -->
											<option class='option' *ngFor='let option of options' [selected]="option === data.tipoCliente">{{option}}</option>
										</select>
								</div>
							</div>
							<div class="col">
								<div class="input-group mb-3" [hidden]="!isZoneBoss && !isAgent">
									<div class="input-group-prepend">
										<span class="input-group-text">Zona</span>
									</div>
									<input class="form-control" [(ngModel)]="data.zona" [formControl]="zona"> 
								</div>
							</div>
							<div class="col">
							</div>
						</div>
						<div class="row mb-0">
							<div class="col inputMaxWidth">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<label class="input-group-text" for="inputGroupSelect01">Representados</label>
									</div>

									<input class="repCode" type="text" placeholder="SapCode01" [value]="repCode" [(ngModel)]="repCode" [ngModelOptions]="{standalone: true}">
									<div class="input-group-append">
										<button class="btn btn-outline-secondary" type="button" (click)="InsertAgent(data, repCode)">Insertar</button>
									</div>
								</div>
							</div>
							<div class="col-6"></div>
						</div>
						<span class="ListContainer" [hidden]="!isAgent">
						<div class="row mb-0" >
							<h6 class="ml-3">Lista de Representados</h6>
						</div>
						<div class="row mb-0">
							<div class="col card">
								<ul class="list-group list-group-flush">
												<li *ngFor="let representado of data.representados">
												  {{ representado }}
												</li>
												 
								</ul>
							</div>
							<div class="col-8"></div>
						</div>
					</span>
					</form>
				</div>
				
			</div>
		</div>
		<div class="row">
				<div class="col-6"></div>
			<div class="col"><button type="button" class="btn btn-secondary" [routerLink]="['/userslist']" routerLinkActive="active">Volver</button>
			<button type="button" class="btn btn-danger" routerLinkActive="active" (click)="submitUser(formValues)"><a href="/userslist">Guardar</a></button>
			<!-- [routerLink]="['/userslist']" -->
			<button type="button" class="btn btn-secondary">Enviar Credenciales</button></div>
		</div>
	</div>
</div>
