<section class="border-start">
	<article>
	  	<div class="capcelera_imatge shadowBox2">
			<div class="shadow-invert visible-xs"></div>
			<div class="pos_relative">
		  		<img class="img-responsive" alt="" src="/assets/img/banner.jpg">
		  		<div class="ifnotimg"></div>
		  		<div class="gradient"></div>
			</div>
			<div class="">
		  		<div class="container pos_relative">
					<h1><span>Gestor de Sortides</span></h1>
		  		</div>
			</div>
	  	</div>
	</article>
	<article class="padding-xs padding-sm padding-md">
	  	<div class="container">
			<div class="row">
		  		<div class="col-sm-8">
					<ul class="list-group llistat_enllacos_filet_cont contingut">
				  		<li>
							<a href="#" class="a-vermell">Prototipo de Consola de administración para Gestor de Sortides</a> (28-07-2017)
							<p>Esta es la primera versión del prototipo de interfaz.<br><br></p>
				  		</li>
				  		<li>
							<a href="#" class="a-vermell">Prototipo de Consola de administración para Gestor de Sortides</a>
							<p>Esta es la primera versión del prototipo de interfaz.<br><br></p>
				  		</li>
				  		<li>
							<a href="#" class="a-vermell">Prototipo de Consola de administración para Gestor de Sortides</a>
							<p>Esta es la primera versión del prototipo de interfaz.<br><br></p>
				 		 </li>
				  		<li>
							<a href="#" class="a-vermell">Prototipo de Consola de administración para Gestor de Sortides</a>
							<p>Esta es la primera versión del prototipo de interfaz.<br><br></p>
				  		</li>			
					</ul>
				</div>
			 	<div class="col-sm-4">
					<div class="inform_relacionada">
				  		<div class="inform_relacionada_cont">
							<h4><strong>Destacats</strong></h4>
							<div class="llistat_enllacos_filet">
					  			<ul class="llistat_enllacos_filet_cont icones list-group">
									<li class="list-group-item bullet">
						  				<a [routerLink]="['/estat']" routerLinkActive="active">Estado general</a>
						  				Vista general del estado del Gestor de Sortides.
									</li>
									<li class="list-group-item bullet">
						  				<a [routerLink]="['/peticio']" routerLinkActive="active">Ver las peticiones</a>
						  				Puedes ver las peticiones que hay actualmente en el sistema.
									</li>
					  			</ul>
							</div>
				  		</div>
					</div>
			  	</div>
			</div>
		</div>
	</article>
</section>
	