<nav class="navbar col-9 navbar-expand-lg navbar-light bg-corporate">
  <a class="navbar-brand" href="#">
    <img src="/assets/images/logos/Macmillan_50px.png" width="50" height="50" alt="">
    <label>Macmillan<br>education</label>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="ClientsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clientes
        </a>
        <div class="dropdown-menu" aria-labelledby="ClientsDropdown">
          <a class="dropdown-item" routerLink="/form" routerLinkActive="active">form</a>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="OrderedDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pedidos
        </a>
        <div class="dropdown-menu" aria-labelledby="OrderedDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gestión de usuarios</a>
      </li>
    </ul>
  </div>
</nav>

<!-- botonera a la derecha -->
<nav class="navbar-right col-3 navbar-light bg-corporate">
  <div class="navbar-R">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle changeUser" href="#" id="ClientsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="icon"></span>
        </a>
        <input type="text" disabled value="user@macmillaneducation.com" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        <div class="dropdown-menu" aria-labelledby="ClientsDropdown">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ChangeClientModal"(click)="goBack()">
            Cambiar cliente
          </button>
        </div>
      </li>
    </ul>
  </div>
</nav>
<app-changeclientmodal></app-changeclientmodal>
