<!--
<p>
    ESTAMOS EDITANDO SOLLICITUD!!!
</p>
{{sollicitud.codi}}
{{sollicitud.organisme}}
{{sollicitud.backoffice}}
{{sollicitud.peticio}}
-->
<div class="border-start bgGrey">
    <div id="impacteContainer">
        <div class="fpca_subcapcalera bgGrey">	
            <div class="container">
                <div class="row">
                    <div class="capcelera_basica col-sm-12">
                        <div class="capcelera_basica_cont">		            		
                            <ol class="breadcrumb filariana hidden-xs">
                                <li><a [routerLink]="['/inici']" routerLinkActive="active" title="Torna: Inici">Inici</a></li>
                                <li><a [routerLink]="['/estat']" routerLinkActive="active" title="Torna: Estat general">Estat General</a></li>
                                <li><a [routerLink]="['/estatsollicitud']" routerLinkActive="active" title="Torna: Resum de sol·licituds">Resum de sol·licituds</a></li>
                                <li><a [routerLink]="['/sollicitud']" routerLinkActive="active" title="Torna: Llista de sol·licituds">Llista de sol·licituds</a></li>
                                <li>Detall de sol·licitud</li>
                            </ol>
                            <h1 class="titulo-capcalera">
                                <span>Detall de sol·licitud</span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <form [formGroup]="sollicitudForm">
        <fieldset style="margin-top: 30px">
            <legend>Dades Generals</legend>
            <div class="container-fluid" >
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="organ">Organisme</label><br/>
                        <input type="text" id="organ" disabled formControlName="organisme" class="form-control"/>
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="bo">Back Office</label><br/>
                        <input type="text" id="bo" disabled formControlName="backoffice" class="form-control"/>
                    </div>
                    <div class="form-group col-sm-1">
                        <label for="lot">Lot</label><br/>
                        <input type="text" id="lot" disabled formControlName="backoffice" class="form-control"/>
                    </div>  
                    <div class="form-group col-sm-3">
                        <label for="peticio">Petició</label><br/>
                        <input type="text" id="peticio" disabled formControlName="peticio" class="form-control"/>
                    </div> 
                    <div class="form-group col-sm-3">
                        <label for="sollicitud">Sol·licitud</label><br/>
                        <input type="text" id="sollicitud" disabled formControlName="codi" class="form-control" />
                    </div>                
                </div>
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="referencia">Referencia</label><br/>
                        <input type="text" id="referencia" disabled formControlName="referencia"  class="form-control" />
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="expedient">Expedient</label><br/>
                        <input type="text" id="expedient" disabled formControlName="expedient"  class="form-control" />
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="titol">Titol</label><br/>
                        <input type="text" id="titol" disabled formControlName="titol"  class="form-control" />
                    </div>  
                    <div class="form-group col-sm-2">
                        <label for="circuit">Circuit</label><br/>
                        <input type="text" id="circuit" disabled formControlName="circuit"  class="form-control" />
                    </div> 
                    <div class="form-group col-sm-1">
                        <label for="versio">Versió</label><br/>
                        <input type="text" id="versio" disabled formControlName="versio"  class="form-control" />
                    </div>       	      
                </div>
            </div>
        </fieldset>
        <fieldset style="margin-top: 30px">
            <legend>Dades del canal que finalitza el circuit</legend>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-2">
                        <label for="organisme">Transaccio:</label>
                        <input type="text" class="form-control" id="transaccio" name="transaccio" disabled formControlName="transaccio" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="backoffice">Sequencia:</label>
                        <input type="text" class="form-control" id="sequencia" name="sequencia" disabled formControlName="sequencia" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-2">
                        <label for="estatprocess">Estat Process:</label>
                        <input type="text" class="form-control" id="estatprocess" name="estatprocess" disabled formControlName="estatProcess"/>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="dataactualizacioproces">Data Actualitzacio:</label>
                        <input type="text" class="form-control" id="dataactualizacioproces" name="dataactualizacioproces" disabled formControlName="dataActualitzacioEstatProcess" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="estatfuncional">Estat Funcional:</label>
                        <input type="text" class="form-control" id="estatfuncional" name="estatfuncional" disabled formControlName="estatFuncional" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="dataactualitzaciofuncional">Data Actualitzacio:</label>
                        <input type="text" class="form-control" id="dataactualitzaciofuncional" name="dataactualitzaciofuncional" disabled formControlName="dataActualitzacioEstatFuncinoal" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-2">
                        <label for="idevidencia">Id Evidencia:</label>
                        <input type="text" class="form-control" id="idevidencia" name="idevidencia" disabled formControlName="idEvidencia" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="dataaceptacio">Data Aceptació:</label>
                        <input type="text" class="form-control" id="dataaceptacio" name="dataaceptacio" disabled formControlName="dataAceptacio" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>&nbsp;</label>
                        <p data-placement="top" data-toggle="tooltip" title="Detalle" aria-label="Left Align">
                            <button class="btn btn-primary btn-xs" data-title="Detalle">  
                                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                            </button>
                        </p>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="idrebut">Id Rebut:</label>
                        <input type="text" class="form-control" id="idrebut" name="idrebut" disabled formControlName="idRebut" />
                    </div>
                    <div class="form-group col-md-3">
                        <label>&nbsp;</label>
                        <p data-placement="top" data-toggle="tooltip" title="Detalle" aria-label="Left Align">
                            <button class="btn btn-primary btn-xs" data-title="Detalle">  
                                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </fieldset>	
        <fieldset style="margin-top: 30px">
            <legend>Dades del canal que finalitza el circuit</legend> 
            <div class="container">
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label for="canal_codi">Canal</label><br/>
                        <input type="text" id="canal_desc" disabled class="form-control" formControlName="canal" />
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="canal_desc">Descripció</label><br/>
                        <input type="text" id="canal_desc" disabled class="form-control" formControlName="descripcio"/>
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="canal_resp">Resposta</label><br/>
                        <input type="text" id="canal_resp" disabled class="form-control" formControlName="resposta"/>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="canal_resp_desc">Descripció resp.</label><br/>
                        <input type="text" id="canal_resp_desc" disabled class="form-control" formControlName="descripcioRespota"/>
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="canal_remesa">Remesa</label><br/>
                        <input type="text" id="canal_remesa" disabled class="form-control" formControlName="remesa"/>
                    </div>               
                </div>
            </div>
        </fieldset>      
     </form>
</div>