<div class="border-start bgGrey">
	<div id="impacteContainer">
		<div class="fpca_subcapcalera bgGrey">	
			<div class="container">
				<div class="row">
					<div class="capcelera_basica col-sm-12">
						<div class="capcelera_basica_cont">		            		
		               		<ol class="breadcrumb filariana hidden-xs">
								<li><a [routerLink]="['/inici']" routerLinkActive="active" title="Torna: Inici">Inici</a></li>
								<li><a title="Torna: Administració" href="javascript:void(0)">Administració</a></li>
								<li>Llista de permisos</li>
							</ol>
							<h1 class="titulo-capcalera">
								<span>Llista de permisos</span>
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="padding-xs padding-sm padding-md colorSectionOdd">
    <article class="container fullcontainer-xs">
		<div class="row">
			<div>
				<div id="center_1R">
					<div class="fpca_glossari pd-15m">
						<div class="border_letras">
						</div>
						<dl class="llistat_az col-xs-12 padding-top-xs">
							<dt><a name="asignar_rol">Asignar rol</a></dt>
							<dd><p>Permite asignar y revocar un rol a un usuario.</p></dd>
							<dt><a name="autorizar_circuito">Autorizar circuito</a></dt>
							<dd><p>Permite autoriza a un par back office / organismo para ejecutar sus solicitudes sobre un circuito concreto. Incluye tanto la concesión como la revocación de esta autorización.</p></dd>
							<dt><a name="consulta">Consulta</a></dt>
							<dd><p>Permite la consulta (no modificación) de peticiones, solicitudes y transacciones.</p></dd>
							<dt><a name="consulta_propia">Consulta propia</a></dt>
							<dd><p>Permite la consulta (no modificación) de peticiones, solicitudes y transacciones asociadas a los mismos back offices y organismos que están asignados al usuario que posee este permiso. Este permiso no permite la consulta de peticiones, solicitudes y transacciones ajenas al usuario (mediante filtro implícito en listados, prohibición de acceso a detalles, etc.).</p></dd>
							<dt><a name="consulta_traza">Consulta de traza</a></dt>
							<dd><p>Permite la consulta de las trazas generadas en el sistema.</p></dd>         
							<dt><a name="consulta_propia_traza">Consulta propia de traza</a></dt>
							<dd><p>Permite la consulta de las trazas generadas en el sistema sólo para aquellas relacionadas con el back office y organismo asociados al poseedor de este permiso. Cualquier otra traza será filtrada en los listados y no permite el acceso a cualquier detalle de ésta.</p></dd>  
							<dt><a name="consulta_usuarios">Consulta de usuarios</a></dt>
							<dd><p>Permite consultar información de los usuarios del sistema.</p></dd>  
							<dt><a name="consulta_propia_usuario">Consulta propia de usuario</a></dt>
							<dd><p>Permite a un usuario consultar sus propia configuración de usuario en el sistema. No permite el acceso a datos de cualquier otro usuario.</p></dd>  
							<dt><a name="modificacion_usuarios">Modificación de usuario</a></dt>
							<dd><p>Permite la modificación de los datos de usuarios.</p></dd>  
							<dt><a name="modificacion_propia_usuario">Modificación propia de usuario</a></dt>
							<dd><p>Permite la modificación de los datos del usuario poseedor de este rol. No permite la modificación de ningún otro usuario.</p></dd>           
						</dl>
					</div>
				</div>
			</div>
		</div>
	</article>
</section>
