<breadcrumb-custom></breadcrumb-custom>
<div class="view-container">
    <div class="card-container">
        <div class="accordion col-8" id="accordionHead">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Cabecera del pedido
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionHead">
                    <div class="card-body">
                        <form>
                            <div class="row mb-0">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2">Código Sap</span>
                                        </div>
                                        <!-- <input type="text" class="form-control" [formControl]="codSap" placeholder="Codigo SAP" [(ngModel)]="data.codigoSap" [ngModelOptions]="{standalone: true}"
                                            #ctrl="ngModel" aria-describedby="basic-addon2"> -->
                                            <input class="form-control"[readonly]="true" [(ngModel)]="ConsoleDataService.client['detalleCliente'].numCliente" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" aria-describedby="basic-addon2">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2">CIF</span>
                                        </div>
                                        <!-- <input type="text" class="form-control" [formControl]="cif" placeholder="CIF" [(ngModel)]="data.cif" [ngModelOptions]="{standalone: true}" #ctrl="ngModel"
                                            aria-describedby="basic-addon2"> -->

                                            <input class="form-control"[readonly]="true" [(ngModel)]="ConsoleDataService.client['detalleCliente'].nif" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" aria-describedby="basic-addon2">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-0">
                                    <div class="col">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon2">Nombre fiscal</span>
                                                </div>
                                                <!-- <input type="text" class="form-control" [formControl]="nomFis" placeholder="Client fiscal name" [(ngModel)]="data.nombre" [ngModelOptions]="{standalone: true}"
                                                    #ctrl="ngModel" aria-describedby="basic-addon2"> -->
        
                                                    <input class="form-control" [readonly]="true" [(ngModel)]="ConsoleDataService.client['detalleCliente'].nombre2" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" aria-describedby="basic-addon2">
                                            </div>
                                        </div>
                            </div>
                            <div class="row mb-0">
                                <div class="col-8">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2">Dirección de entrega</span>
                                        </div>
                                        <select class='select-option custom-select'(change)="onChange($event.target.value)"> 
                                               <!-- [formControl]="tipo" -->
                                                <!-- (ngModelChange)='onOptionsSelected($event)' -->
                                                <option class='option' *ngFor='let address of ConsoleDataService.addresses'>{{address}}</option>
                                                <!-- [selected]="option === data.tipoCliente" -->
                                            </select>
                                        <!-- <input [formControl]="dirEnt" type="text" class="form-control" placeholder="calle" [(ngModel)]="data.direccionEntrega" [ngModelOptions]="{standalone: true}"
                                            #ctrl="ngModel" aria-label="Nombre" aria-describedby="basic-addon2"> -->

                                            <!-- <input  [readonly]="true" [(ngModel)]="ConsoleDataService.client.detalleCliente.calleYNumero" class="form-control" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" aria-describedby="basic-addon2"> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row ml-2">
                                <div class="col">
                                    <label class="form-check-label radiobtn">
                                        <!-- <input [formControl]="fecEnt" class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>Fecha inmediata</label> -->
                                        <input [formControl]="fechaSelected" class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios1" value="0" checked>Fecha inmediata</label>
                                    </div>
                                <div class="col">
                                </div>
                            </div>
                                <div class="colCalendar row ml-2">
                                    <div class="col-3">
                                        <input [formControl]="fechaSelected" class="form-check-input date-radio-inline" type="radio" name="gridRadios" id="gridRadios2" value="1">
                                        <label class="form-check-label radiobtn">Fecha preferente de entrega</label>
                                    </div>
                                    <!-- <input type="text" name="preferentDate" class="form-control min-input" placeholder="Date" (ngModel)="data.fecha" [ngModelOptions]="{standalone: true}"
                                        #ctrl="ngModel"> -->                                                 
                                    <div class="col-9 pl-0">
                                        <form #myForm="ngForm" class="dateCalendar" novalidate>
                                            <!-- <my-date-picker [formControl]="fecEnt" name="mydate" [options]="myDatePickerOptions" [(ngModel)]="data.fecha" required [ngModelOptions]="{standalone: true}" #ctrl="ngModel"></my-date-picker> -->
                                            <my-date-picker [formControl]="fechaFromPicker"></my-date-picker>
                                            <!-- [formControl]="fecEnt" -->
                                        </form>
                                    </div>         <!--<dl-date-time-picker></dl-date-time-picker> -->
                                </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion col-8" id="accordionLines">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                            Lineas de pedido
                        </button>
                    </h5>
                </div>

                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionLines">
                    <div class="card-body">
                            <div *ngIf="pending; then primaryBlock; else secondaryBlock">this is ignored</div>
                            <ng-template #primaryBlock>
                                    <p-dataTable [immutable]=false [value]="ConsoleDataService.dataLine"  (actualClient)="updateActualUser($event)" [paginator]="true" [rows]="5"  [rowStyleClass]="isRowSelected" [pageLinks]="2" #dt>
                                            <p-column  field="ean" header="EAN"></p-column>
                                            <p-column  field="descCorta" header="Descripción"></p-column>
                                            <p-column  field="tipoMaterial" header="Tipo de material"></p-column>
                                            <p-column styleClass="units"  field="unidades" header="Unidades"></p-column>
                                            <p-column field="isSelected" header="" [style]="{'width':'32px','cursor': 'pointer'}">
                                                  <ng-template pTemplate="body" let-rowData="rowData">
                                                    <span id="unitContainer">
                                                          <img src="assets/images/icons/baseline-edit-24px.svg" (click)="ChangeLineValue(rowData)" data-dismiss="modal"  (mouseover)=" rowData.isSelected=!rowData.isSelected" (mouseout)=" rowData.isSelected=!rowData.isSelected"/>
                                                      </span>  
                                                  </ng-template>
                                                </p-column> 
                                            </p-dataTable>
                            </ng-template>
                            <ng-template #secondaryBlock>
								   <p-dataTable [immutable]=false [value]="ConsoleDataService.dataLine"  (actualClient)="updateActualUser($event)" [paginator]="true" [rows]="5"  [rowStyleClass]="isRowSelected" [pageLinks]="2" #dt>
                                        <p-column field="isSelected" header="" [style]="{'width':'32px','cursor': 'pointer'}">
                                            <ng-template pTemplate="body" let-rowData="rowData">
                                              <img src="assets/images/icons/baseline-check_circle-24px.svg" (click)="ChangeClient(rowData)" data-dismiss="modal"  (mouseover)=" rowData.isSelected=!rowData.isSelected" (mouseout)=" rowData.isSelected=!rowData.isSelected"/>
                                              <!-- rowData.isSelected=!rowData.isSelected -->
                                            </ng-template>
                                          </p-column> 
                                      <p-column  field="ean" header="EAN"></p-column>
                                      <p-column  field="descCorta" header="Descripción"></p-column>
                                      <p-column  field="tipoMaterial" header="Tipo de material"></p-column>
                                      <p-column field="unidades" header="Unidades" [style]="{'width':'32px','cursor': 'pointer'}">
                                            <ng-template pTemplate="body" let-rowData="rowData">
                                              <input type="number" min="1" class="lineSum">
                                            </ng-template>
                                          </p-column> 
                                      </p-dataTable>
                            </ng-template>          
                            
                        <div class="row">
                            <div class="col-8"></div>
                            <div class="col">
                            <button type="button" class="btn btn-danger m-2"  data-toggle="modal" data-target="#addLineModal">Añadir linea</button>
                            <button type="button" class="btn btn-danger m-2" (click)="SendToSap()" >Validar</button>
                            <button type="button" class="btn btn-secondary m-2" (click)="SendToDraft()">Borrador</button>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="col-8 m-auto"><button type="button" class="btn btn-secondary m-2  float-right" [routerLink]="['/ordersList']" routerLinkActive="active">volver</button></div>
</div>
<div class="modal fade" id="addLineModal" tabindex="-1" role="dialog" aria-labelledby="addLineLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addLineLabel">Selección de material</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                      <!-- <common-materials-table (lineToAdd)="addLine($event)"></common-materials-table> -->
                      <p-dataTable [value]="data"  (actualClient)="updateActualUser($event)" [paginator]="true" [rows]="5"  [rowStyleClass]="isRowSelected" [pageLinks]="5" #dt>
                            <p-column field="isSelected" header="" [style]="{'width':'32px','cursor': 'pointer'}">
                                <ng-template pTemplate="body" let-rowData="rowData">
                                  <img src="assets/images/icons/baseline-check_circle-24px.svg" (click)="addLine(rowData)" data-dismiss="modal"  (mouseover)=" rowData.isSelected=!rowData.isSelected" (mouseout)=" rowData.isSelected=!rowData.isSelected"/>
                                  <!-- rowData.isSelected=!rowData.isSelected -->
                                </ng-template>
                              </p-column> 
                          <p-column  field="ean" header="EAN"></p-column>
                          <p-column  field="descCorta" header="Descripción"></p-column>
                          </p-dataTable>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
   </div>
   <div id="myModal" class="modal">

		<!-- Modal content -->
		<div class="modal-content">
		  <span class="close" (click)="ConsoleDataService.closeModal('myModal')" [routerLink]="['/ordersList']" routerLinkActive="active">&times;</span>
		  <h5>Pedido Creado Correctamente</h5>
          <!-- <p>{{ConsoleDataService.alertText}} <b> {{ConsoleDataService.alertEmail}}</b></p> -->
          <p>{{ConsoleDataService.userIdToDelete}}</p>
		  
		  <div class="row">
			<div class="col-12 btnList">
				<!-- <button type="button" id="btncancel" class="btn btn-secondary mr-1"(click)="ConsoleDataService.closeModal('myModal')" routerLinkActive="active">Cancelar</button> -->
				<button type="button" id="btnSuccess" class="btn btn-danger mr-1"  [routerLink]="['/ordersList']" routerLinkActive="active">volver al listado</button>
			</div>
		</div>
	  
	  </div>   

