<breadcrumb-custom></breadcrumb-custom>
<div class="view-container">
    <div class="card-container">
        <div class="accordion col-8" id="accordionHead">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Cabecera del pedido
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionHead">
                    <div class="card-body">
                        <form>
                            <div class="row mb-0">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2">Código Sap</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Codigo SAP" [(ngModel)]="data.codigoSap" [ngModelOptions]="{standalone: true}"
                                            #ctrl="ngModel" aria-describedby="basic-addon2">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2">Nombre fiscal</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Client fiscal name" [(ngModel)]="data.nombre" [ngModelOptions]="{standalone: true}"
                                            #ctrl="ngModel" aria-describedby="basic-addon2">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2">CIF</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="CIF" [(ngModel)]="data.cif" [ngModelOptions]="{standalone: true}" #ctrl="ngModel"
                                            aria-describedby="basic-addon2">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-0">
                            </div>
                            <div class="row mb-0">
                                <div class="col-4">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2">Dirección de entrega</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Calle Orotava s/n" [(ngModel)]="data.direccionEntrega" [ngModelOptions]="{standalone: true}"
                                            #ctrl="ngModel" aria-label="Nombre" aria-describedby="basic-addon2">
                                    </div>
                                </div>
                            </div>
                            <div class="row ml-2">
                                <div class="col">
                                    <label class="form-check-label radiobtn">
                                        <input class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>Fecha inmediata</label>
                                </div>
                                <div class="col">
                                </div>
                            </div>
                            <div class="row ml-2">
                                <div class="col">

                                    <input class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                    <label class="form-check-label radiobtn">Fecha preferente de entrega</label>
                                    <input type="text" name="preferentDate" class="form-control min-input" placeholder="Date" (ngModel)="data.fecha" [ngModelOptions]="{standalone: true}"
                                        #ctrl="ngModel">

                                    <!-- <dl-date-time-picker></dl-date-time-picker> -->
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion col-8" id="accordionLines">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                            Lineas de pedido
                        </button>
                    </h5>
                </div>

                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionLines">
                    <div class="card-body">
                            <common-listorder-table tableData="newOrder"></common-listorder-table>    
                        <div class="row">
                            <div class="col-8"></div>
                            <div class="col">
                            <button type="button" class="btn btn-danger m-2"  data-toggle="modal" data-target="#addLineModal">Añadir linea</button>
                            <button type="button" class="btn btn-danger m-2" [routerLink]="['/createUser']" routerLinkActive="active">Validar</button>
                            <button type="button" class="btn btn-secondary m-2" [routerLink]="['/createUser']" routerLinkActive="active">Borrador</button>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addLineModal" tabindex="-1" role="dialog" aria-labelledby="addLineLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addLineLabel">Selección de material</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                      <common-materials-table (lineToAdd)="addLine($event)"></common-materials-table>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>