.view-container{
    background: #fff;
}
.btn-right{
margin: 15px;
float: right;
}
.card{
    min-height: auto !important;
}
.card-container{
    min-height: 500px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding-top: 20px;
    /* width: 80%; */
    margin: 0 auto;
    padding: 1%;
}
.card-container .card-header{
    background: #fff7f7;
    height: 40px;
}
.card-container .card-header h5{
    margin-top: -12px;
}
.card-container .card-header h5 button{
    color:#b36a6a;
    min-width: 100%;
    text-align: left;
    text-decoration: none;
}
/* .card-container .card-header h5 button.btn-link:after{
content:"V";
float: left;
padding-right: 25px;
    width: 30px;
    height: 30px;
} */
.card-container .card-header h5 button.btn-link:before {
    content: "";
    width: 24px;
    height: 24px;
    background: url(../../../../assets/images/icons/baseline-expand_less-24px.svg) no-repeat;
    display: block;
    float: left;
    margin-right: 15px;
    opacity: .4;
}
.card-container .card-header h5 button.btn-link.collapsed:before {
    background: url(../../../../assets/images/icons/baseline-expand_more-24px.svg) no-repeat;
}
.accordion.col-8{
    margin: 0 auto;
}
.modal-dialog{
    min-width: 900px;
    position: relative;
    top: 25px;
}
