<!--
<p>
    ESTAMOS EDITANDO ROLES !!!
</p>
-->
<div class="border-start bgGrey">
	<div id="impacteContainer">
		<div class="fpca_subcapcalera bgGrey">	
			<div class="container">
				<div class="row">
					<div class="capcelera_basica col-sm-12">
						<div class="capcelera_basica_cont">		            		
							<ol class="breadcrumb filariana hidden-xs">
								<li><a title="Torna: Inici" href="inici.html">Inici</a></li>
								<li><a title="Torna: Administració" href="javascript:void(0)">Administració</a></li>
								<li><a [routerLink]="['/rol']" routerLinkActive="active" title="Torna: Llista roles">Llista de roles</a></li>
								<li>Detall de rol</li>
							</ol>
							<h1 class="titulo-capcalera">
								<span>Detall de rol</span>
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container" style="margin-top: 30px">
	<form [formGroup]="rolForm">
		<fieldset>
			<legend>Dades Generals</legend>
			<div class="container-fluid" >
				<div class="row">
					<div class="form-group col-sm-4">
						<label for="codi">Codi</label><br/>
						<input type="text" id="codi" formControlName="codi" class="form-control" disabled />
					</div>
					<div class="form-group col-sm-8">
						<label for="nom">Nom</label><br/>
						<input type="text" id="nom" formControlName="nom" class="form-control" disabled/>
					</div>    
				</div>
				<div class="row">
					<div class="form-group col-sm-12">
						<label for="descripcio">Descripció</label><br/>
						<textarea id="descripcio" formControlName="descripcio" class="form-control" rows="5" descripcio></textarea>
					</div>            
				</div>
			</div>
    	</fieldset>
        <fieldset style="margin-top: 30px">
			<legend>Permisos que concedeix</legend>
			<div class="container">
				<table class="table table-striped">
	    			<tr>
						<th>Nom</th>
						<th>Descripció</th>
					</tr>
					<tr>
						<td><a href="llista-permisos.html#autorizar_circuito">Autorizar circuito</a></td>
						<td>Permite autorizar a un par back office / organismo para ejecutar sus solicitudes sobre un circuito concreto. Incluye tanto la concesión como la revocación de esta autorización.</td>
					</tr>            
					<tr>
						<td><a href="llista-permisos.html#consulta_propia_usuario">Consulta propia de usuario</a></td>
						<td>Permite a un usuario consultar sus propia configuración de usuario en el sistema. No permite el acceso a datos de cualquier otro usuario.</td>
					</tr>
				</table>
			</div>
		</fieldset>
    </form>
</div>