<nav class="navbar navbar-L col-8 navbar-expand-lg navbar-light bg-corporate">
    <a class="navbar-brand" href="#" routerLink="/homeview" routerLinkActive="active">
      <img src="/assets/images/logos/logo_macmillan.svg" width="120" height="50" alt="">
    </a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/clientdata" routerLinkActive="active">Datos de Cliente</a>
            </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="OrderedDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pedidos
          </a>
          <div class="dropdown-menu" aria-labelledby="OrderedDropdown">
            <a class="dropdown-item" href="#" routerLink="/ordersList" routerLinkActive="active">Lista de pedidos</a>
            <a class="dropdown-item" href="#" routerLink="/newOrder" routerLinkActive="active">Creación de un pedido</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" routerLink="/pendingOrder">Pendientes de validar</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/userslist" routerLinkActive="active">Gestión de usuarios</a>
        </li>
      </ul>
    </div>
    <div class="navbar-R">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown userscombo col-12">
            <a class="nav-link dropdown-toggle changeUser" href="#" id="UsersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="icon"></span>
            </a>
            <input type="text" disabled value="{{userMail}}" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            <div class="dropdown-menu" aria-labelledby="UsersDropdown">
              <button type="button" class="btn btn-primary" data-toggle="modal">
                Cambiar contraseña
              </button>
              <button type="button" class="btn btn-primary" data-toggle="modal">
                Mis datos
              </button>
              <button type="button" class="btn btn-primary" data-toggle="modal">
                Cerrar Sesión
              </button>
            </div>
          </li>
        </ul>
      </div>
  </nav>
  
  <div class="card secundary-head" id="secondNav">
    <div class="card-body row">
      <div class="col-1 p-0"></div>
      <div class="col sectiontitle">Bienvenido <br />{{userName}}</div>
      <div class="col-3 Rbtn">
        <div class="input-group">
          <span class="input-group-text" id=""><img src="../assets/images/icons/ic_assignment_ind_black_48dp.png"></span>
          <div class="input-group-append col-6 pl-0">
            <button id="prueba" class="btn btn-outline-secondary" type="button" data-toggle="modal" title="Click para operar con otro cliente" data-target="#ChangeClientModal">{{actualClient}} </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="ChangeClientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Selección de cliente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                  <common-client-table (actualClient)="updateActualUser($event)"></common-client-table>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary" data-ng-styles="guardar">Guardar Cambios</button> -->
        </div>
      </div>
    </div>
  </div>


        