   <p-dataTable [value]="ConsoleDataService.userlist" [immutable]=false (actualClient)="updateActualUser($event)" [paginator]="true" [rows]="10"  [rowStyleClass]="isRowSelected" [pageLinks]="5" #dt>
      <p-column field="isSelected codigoSap" header="" [style]="{'width':'32px','cursor': 'pointer'}">
          <ng-template pTemplate="body" let-rowData="rowData">
            <img src="assets/images/icons/baseline-check_circle-24px.svg" (click)="ChangeClient(rowData)" data-dismiss="modal" />
          </ng-template>
        </p-column> 
    <p-column  field="nombre" header="Nombre"></p-column>
    <p-column  field="email" header="Email"></p-column>
    <p-column  field="tipoCliente" header="Tipo Cliente"></p-column>
  
  </p-dataTable>
