<!--
<ul>
    <li *ngFor="let backoffice of storeBackoffices">
        {{backoffice.id}} - {{backoffice.codi}} - {{backoffice.nom}} - {{backoffice.descripcio}}
    </li>
</ul>
-->
<div class="border-start bgGrey">
	<div id="impacteContainer">
		<div class="fpca_subcapcalera bgGrey">	
			<div class="container">
				<div class="row">
					<div class="capcelera_basica col-sm-12">
						<div class="capcelera_basica_cont">		            		
							<ol class="breadcrumb filariana hidden-xs">
								<li><a [routerLink]="['/inici']" routerLinkActive="active" title="Torna: Inici">Inici</a></li>
								<li><a title="Torna: Administració" href="javascript:void(0)">Administració</a></li>
								<li>Llista de back offices</li>
							</ol>
							<h1 class="titulo-capcalera">
								<span>Llista de back offices</span>
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="gs-filter container" style="position:relative; margin: auto; margin-bottom: 20px">
	<form class="form-inline" [formGroup]="searchForm" (ngSubmit)="onFormSubmit()">   
		<div class="form-group">
			<label for="codi">Codi: </label>
			<input type="text" class="form-control" id="codi" formControlName="codi">
		</div>
		<div class="form-group">
		<label for="codi">Nom: </label>
			<input type="text" class="form-control" id="nom" formControlName="nom"/>
		</div>
		<div class="form-group">
			<button type="submit" class="btn bgRed white">Buscar</button>
		</div>      
	</form>
</div>
<div class="container">
	<a [routerLink]="['creacio']" routerLinkActive="active">Creacio</a>
	<table class="table table-striped">
		<tr>
			<th>Codi</th>
			<th>Nom</th>
			<th>Descripció</th>
		</tr>
		<tr *ngFor="let backoffice of storeBackoffices">
			<td><a [routerLink]="['/backoffice/detall', backoffice.codi]" routerLinkActive="active">{{backoffice.codi}}</a></td>
			<td>{{backoffice.nom}}</td>
			<td>{{backoffice.descripcio}}</td>
	    </tr>
	</table>
</div>
<ul>	